<footer>
    <section class="section section--dark" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h3 class="footer__title pb-3">Twitter FEEDs</h3>
                    <div class="footer__item--borderbtm pb-3 mb-2">
                        <p>Check out this great theme item</p>
                        <a href="http://tadjalskfj.com">http://tadjalskfj.com</a>
                        <time>2 weeks ago</time>
                    </div>
                    <div class="footer__item--borderbtm pb-3 mb-2">
                        <p>Check out this great theme item</p>
                        <a href="http://tadjalskfj.com">http://tadjalskfj.com</a>
                        <time>2 weeks ago</time>
                    </div>
                    <div class="footer__item--borderbtm pb-3 mb-2">
                        <p>Check out this great theme item</p>
                        <a href="http://tadjalskfj.com">http://tadjalskfj.com</a>
                        <time>2 weeks ago</time>
                    </div>
                </div>
                <div class="col-lg-3 mb-5">
                    <h3 class="footer__title pb-3">NEWSLETTER</h3>
                    <p class="footer__item--borderbtm pb-3 mb-2">Lorem ipsum dolor sit amet, consectetur adip
                        iscing elit. Ut ultricies sagittis magna a comm. 
                        Ut eget eros mauris, ut cursus urna.</p>
                    <form>
                        <div class="form-group pb-3">
                            <label class="mb-2" for="email2">Your Email Address</label>
                            <input type="email" class="form-control" id="email2">
                            <div class="d-flex justify-content-end pt-3">
                                <a href="#" class="form__btn">Sign Up</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3 mb-5">
                    <h3 class="footer__title pb-3">recent projects</h3>
                    <div class="footer__item--borderbtm pb-3 mb-2 footer__item--pdleft">
                        <div class="img__wrap"><!--<img src="" alt="#">--></div>
                        <p>Sketchy Business Card</p>
                        <a href="http://tadjalskfj.com">http://tadjalskfj.com</a>
                        <time>2 weeks ago</time>
                    </div>
                    <div class="footer__item--borderbtm pb-3 mb-2 footer__item--pdleft">
                        <div class="img__wrap"><!--<img src="" alt="#">--></div>
                        <p>Sketchy Business Card</p>
                        <a href="http://tadjalskfj.com">http://tadjalskfj.com</a>
                        <time>2 weeks ago</time>
                    </div>
                    <div class="footer__item--borderbtm pb-3 mb-2 footer__item--pdleft">
                        <div class="img__wrap"><!--<img src="" alt="#">--></div>
                        <p>Sketchy Business Card</p>
                        <a href="http://tadjalskfj.com">http://tadjalskfj.com</a>
                        <time>2 weeks ago</time>
                    </div>
                </div>
                <div class="col-lg-3 mb-5">
                    <h3 class="footer__title pb-3">Contact</h3>
                    <div class="contact__item d-flex align-items-center mb-4"><img src="img/phoneicon.png" alt="#">
                    <span class="contacts pl-3">1 - 000 - 000-0000<br>
                        1 - 000 - 000-0000</span>
                    </div>
                    <div class="contact__item d-flex align-items-center mb-4"><img src="img/messageicon.png" alt="#">
                    <span class="contacts pl-3">1 - 000 - 000-0000<br>
                        1 - 000 - 000-0000</span>
                    </div>
                    <div class="contact__item d-flex align-items-center mb-4"><img src="img/mailicon.png" alt="#">
                    <div class="contacts pl-3 d-flex flex-column"><a class="contact__link" href="abcdefg@hijs.dfh">abcdefg@hijs.dfh</a><a class="contact__link" href="fjashfaf@jkfs.ckd">fjashfaf@jkfs.ckd</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>