<header>
    <nav>
        <div class="container h-100 d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo"><img src="img/logo.png" alt="logo"></a>
            <a href="#" class="nav__toggler"></a>
            <ul class="nav__list">
                <li class="nav__item"><a href="index.html" class="nav__link d-flex align-items-center">Home</a></li>
                <li class="nav__item"><a href="portfolio.html" class="nav__link d-flex align-items-center">Portfolio</a></li>
                <li class="nav__item"><a href="about.html" class="nav__link d-flex align-items-center">About</a></li>
                <li class="nav__item"><a href="contact.html" class="nav__link d-flex align-items-center">Contact</a></li>
                <li class="nav__item"><a href="#" class="nav__link nav__link--blog d-flex align-items-center">Blog</a></li>
            </ul>
            <div class="nav__search">
                <input class="search__input" type="search" id="site-search" placeholder="Search">
                <button class="search__btn"><img src="img/searchicon.png" alt=""></button>
            </div>
        </div>
    </nav>
</header>