
// font-family: bebas-neue,sans-serif;
// font-weight: 400;
// font-style: normal;

@font-face {
    font-family: "BebasNeue";
    src: url("../fonts/bebas/BebasNeue-Regular.eot") format("eot"),
    url("../fonts/bebas/BebasNeue-Regular.woff2") format("woff2"),
    url("../fonts/bebas/BebasNeue-Regular.woff") format("woff"),
    url("../fonts/bebas/BebasNeue-Regular.ttf") format("truetype"),
    url("../fonts/bebas/BebasNeue-Regular.otf") format("opentype");
    }

@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');
// font-family: 'Ubuntu', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed&display=swap');
// font-family: 'Ubuntu Condensed', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
// font-family: 'Bree Serif', serif;

$title-font: 'BebasNeue', sans-serif;
$sectitle-font: 'Bree Serif', serif;
$text-font: 'Ubuntu', sans-serif;
$ubucon-font: 'Ubuntu Condensed', sans-serif;

$light-gray: #cccece;
$dark-gray: #515862;
$orange: #f98561;
$dark-orange: #fb7349;
$blue: #2190c1;
$dark-blue: #0f619b;